body{
background-color: #f1f5f9;
}
.card{
 background: #fff;
 padding: 35px;
 text-align: center;
 margin: 120px;
 max-width: 300px;
 border-radius: 7px;
 border: 1px solid transparent;
}
.card-1{
 border-color: #ff69a6;
}
.icon{
 width: 40px;
 height: 40px;
 border-radius: 50%;
 margin: auto;
}
.card-1 .icon{
 background: #ff69a6;
}
.text{
 line-height: 1.6;
 color: #64748b;
}
.btn{
 text-transform: capitalize;
 border: transparent;
 border-radius: 5px;
 padding: auto;
}
.btn-pink {
 background: #ffe8f1;
 background-color: #ff69a6;
}
.btn-blue{
 background: #ecf4ff;
 background-color: #68a3ff;
}
.card-2 .icon{
 background: #68a3ff;
}
.card-2{
 border-color: #68a3ff;
}